sudo: false
rvm:
  - 2.0.*
  - 2.1.*
  - 2.2.*
  - 2.3.0
gemfile:
  - Gemfile
  - Gemfile.fluentd.0.12
matrix:
  exclude:
    - rvm: 2.0.*
      gemfile: Gemfile
before_install:
  - gem update bundler
